<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>To Do List App</title>
    <link rel="stylesheet" href="/assets/css/style.css" </head> <body>
    <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">To Do List</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav-d-flex-justify-between">

                <form method="POST" id="update_task" class="addTask">

                    <div class="form-row">
                        <input type="text" class="form-control" id="case" placeholder="Case / Matter">
                        <input type="text" class="form-control" id="task" placeholder="Task">
                    </div>
                    <div class="form-row" class="col-4">
                        <input type="text" class="form-control" id="notes" placeholder="Notes">
                        <label for="deadline">Deadline</label>
                        <input type="date" class="form-control" id="date" placeholder="Deadline">
                    </div>

                    <div class="form-row" class="col-4">
                        <label for="Submit" name="submit">Section</label>
                        <div class="form-control" id="buttonSection">
                            <button type="submit" id="1">1</button>
                            <button type="submit" id="2">2</button>
                            <button type="submit" id="3">3</button>
                            <button type="submit" id="4">4</button>
                            <button type="submit" id="5">5</button>
                        </div>
                    </div>
                </form>



<div class="container1" id="section1">
    <form action="/" method="POST">
        <table class="table table-sm">
            <h2> 1. Section 1</h2>
            <thead>
                <tr>
                    <th style="width: 4%" scope="col">Today</th>
                    <th style="width: 4%" scope="col">Priority</th>
                    <th style="width: 10%" scope="col">Matter</th>
                    <th style="width: 35%" scope="col">Task</th>
                    <th style="width: 31%" scope="col">Notes</th>
                    <th style="width: 5%" scope="col">Deadline</th>
                    <th style="width: 2%" scope="col"></th>
                    <th style="width: 2%" scope="col"></th>
                    <th style="width: 2%" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td radio></td>
                    <td>radio</td>
                    <td>Howell</td>
                    <td>File MTD and serve COS to clients</td>
                    <td>Sent drafts for review on 3/11</td>
                    <td>3/25/21</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td><i class="bi bi-x-lg"></i></td>
                    <td><i class="bi bi-check-lg"></i></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
                
            </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!--Footer-->
    </body>

</html>
<!--/Footer-->