<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <title>To Do List App</title>
    <link rel="stylesheet" href="/assets/css/update.css" </head> <body>
    <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">To Do List</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->
    <main id="site-main">
        <div class="container">
             <div class="box-nav-d-flex-justify-between">

                <form method="POST" id="update_task" class="addTask">

                    <div class="form-row" class="col-4">
                        <input type="text" class="form-control" placeholder="Case / Matter">
                        <input type="text" class="form-control" placeholder="Task">
                    </div>
                    <div class="form-row" class="col-4">
                        <input type="text" class="form-control" placeholder="Comments">
                        <input type="text" class="form-control" placeholder="Notes">
                    </div>
            </div>
            <div class="form-row" class="col-4">

                <label for="deadline">Deadline</label>
                <input type="date" class="form-control" id="date" placeholder="Deadline">

                <label for="Submit" name="submit">Section</label>
                <div class="form-control" id="buttonSection">
                    <button type="submit" id="1">1</button>
                    <button type="submit" id="2">2</button>
                    <button type="submit" id="3">3</button>
                    <button type="submit" id="4">4</button>
                    <button type="submit" id="5">5</button>
                </div>
            </div>
        </div>
        