
<!--/form-->
<form method="POST" id="update_task" class="addTask">

    <div class="form-row">
        <input type="text" class="form-control" id="case" placeholder="Case / Matter">
        <input type="text" class="form-control" id="task" placeholder="Task">
    </div>
    <div class="form-row" class="col-4">
        <input type="text" class="form-control" id="notes" placeholder="Notes">
        <label for="deadline">Deadline</label>
        <input type="date" class="form-control" id="date" placeholder="Deadline">
    </div>

    <div class="form-row" class="col-4">
        <label for="Submit" name="submit">Section</label>
        <div class="form-control" id="buttonSection">
            <button type="submit" id="1">1</button>
            <button type="submit" id="2">2</button>
            <button type="submit" id="3">3</button>
            <button type="submit" id="4">4</button>
            <button type="submit" id="5">5</button>
        </div>
    </div>
</form>

<!--/form-->