<tr>
    <td>radio</td>
    <td> <i id="star" class="bi bi-star-fill"></i><</td>
    <td>Howell</td>
    <td>File MTD and serve COS to clients</td>
    <td>Sent drafts for review on 3/11</td>
    <td>3/25/21</td>
    <td>
        <a href="/updatetask"><i class="bi bi-pencil-fill"></i></a>
    </td>
    <td><i class="bi bi-x-lg"></i></td>
    <td><i class="bi bi-check-lg"></i></td>
</tr>

<table class="table table-sm">
    <h2> 2. Section 2</h2>
    <thead>
        <tr>
            <th style="width: 4%" scope="col">Today</th>
            <th style="width: 4%" scope="col">Priority</th>
            <th style="width: 10%" scope="col">Matter</th>
            <th style="width: 35%" scope="col">Task</th>
            <th style="width: 31%" scope="col">Notes</th>
            <th style="width: 5%" scope="col">Deadline</th>
            <th style="width: 1%" scope="col"></th>
            <th style="width: 1%" scope="col"></th>
            <th style="width: 1%" scope="col"></th>
        </tr>
    </thead>
    <tbody>

    <tr>
        <td><button type="button" id="star" class="bi bi-star-fill" value="Click Me" onclick="this.style.color = '#FFA500'; this.style.border = 'solid'"/></button>></td>
        <td>radio</td>
        <td>Howell</td>
        <td>File MTD and serve COS to clients</td>
        <td>Sent drafts for review on 3/11</td>
        <td>3/25/21</td>
        <td>
            <a href="/updatetask"><i class="bi bi-pencil-fill"></i></a>
        </td>
        <td><i class="bi bi-x-lg"></i></td>
        <td><i class="bi bi-check-lg"></i></td>
    </tr>


    </tbody>
    