h1 {
    background-color: #388087;
}

thead {
background-color: #6fb3b8;

}

html{

}

main{
    margin: 20px;
}

body {
    background-color: #badfe7;
    display: ;
}

input {
    background-color: #f6f6f2;
    margin: 2px;
}

.form-row {
    display: flex;
}

p {
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px
}

.row-3 {
    display: flex;
}

table {
width: auto;
margin: 10px;
justify-self: center;

}

#notes{
width: 60%;

}

#date {
    width: 30%;
}

#addtaskbtn {
margin: 3px;
borde: solid #388087 !important;
justify-items: center !important;
background-color: #c2edce;
color: #388087;
margin-left: 15%;


}
/* #row-3 {
    display: flex;
    width: span;
    justify-self: center;
} */