
body {
    display: flex;
    flex-direction: column;
    background-color: #b1a296;;
    border-width: 5px;
}

html {background-color: #b1a296;}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #8dadc4;
    height: 98%;
    width: 98%;
    margin: auto;
    border-color: #557a95; !important;
    border-width: 10px;  !important;
    padding: 10px; !important;
}
/* 
form {
    display: flex;
    flex-direction: column;
    justify-items: center;
} */

.form-row {
    color: #557a95;
    font-weight: bold;
    /* display: flex; */
    flex-direction: row;
    justify-items: center;
    width: 100%;
}

h2 {
    font-size: 18px;
    text-align: left;
    background-color: rgb(16, 16, 87);
    color:white;
}

div.container1 {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
}

/* #section1 {
    border-color: black;
    border-width: 5px;
} */
/* 
.container{
    border: black;
    border-width: 5px;
} */

/* .new-task-row2 {
    color: blue;
    display: flex;
    flex-direction: row;
    justify-items: center; */


/* .form-group {
    display: flex;
    margin: 10px;
} */

#buttonSection {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.form-control {
    background-color: #557a95;
    margin: 10px;
    color: #7395ae;
}

#date {
    width: 30%;
    /* margin-right: 30px; */
}

#notes {
    color: #7395ae:
}

/* input {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #557a95;
    color: #7395ae;
} */


label {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    width: 100%;
   }

th {
    font-size: 15px;
}

td {
font-size: small;
}

#case {
    width: 100%;
}

#task {
    width: 100%;
    height: 50%;
}

#notes {
    width: 100%;
}

.bi-x-lg {
    color: red;
}

.bi-check-lg {
    color: rgb(13, 185, 13);
}

.bi-pencil-fill {
    color: blue;
}

input::-webkit-input-placeholder {
    color: #cbd3d8 !important;
    font-weight: bolder;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color: #7395ae !important;  
    font-weight: bolder;
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color: #7395ae!important;  
    font-weight: bolder;    
}
     
    input:-ms-input-placeholder {  
    color: #7395ae!important;
    font-weight: bolder;  
    }
/* .form-group {
margin-: 10px; */