

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
}


.form-row {
    color: blue;
  
   
    justify-items: center;
    width: 100%;
}


.new-task-row2 {
    color: blue;
  
    justify-items: center;
}

.form-group {
    display: flex;
    margin: 10px;
}

#buttonSection {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.form-control {
    background-color: lightgray;
    border-color: darkgray;
}

#date {
    width: 40%;
    margin-right: 30px;
    border-color: darkgray;
}



input {
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
}

label {
    margin-left: 20px;
    margin-right: 20px
}

button {
    width: 100%;
   }

th {
    font-size: 15px;
}

td {
font-size: small;
}


/* .form-group {
margin-: 10px; */